/* Artículo */
.articulo {
  top: 8em;
  position: relative;
  max-width: 50em; /* Diseño centrado con ancho máximo */
  margin: 2em auto;
  padding: 2em;
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#h1article {
color: 0078d4;
text-align: center;
font-size: 2em;
text-transform: uppercase;
}

.articulo h1 {
  font-size: 2em;
  margin-bottom: 1em;
  color: #0078d4;
  text-align: center;
}

.articulo img {
  width: 100%;
  height: auto;
  border-radius: 0.5em;
  margin-bottom: 1.5em;
}

.articulo p {
  font-size: 1em;
  text-align: justify;
  margin-bottom: 1.5em;
}

/* Responsivo */
@media (max-width: 768px) {
  .navbar .nav-menu {
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }

  .articulo {
    padding: 1.5em;
  }

  .articulo h1 {
    font-size: 1.5em;
  }

  .articulo p {
    font-size: 0.9em;
  }
}
