/* Botón de Apps estilo Google */
.apps-button {
  position: absolute;
  right: 2em;
  top: 0.75em;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.apps-icon {
  width: 1.75em; /* 28px */
  height: 1.75em; /* 28px */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.125em; /* 2px */
}

.apps-icon div {
  width: 0.5em; /* 8px */
  height: 0.5em; /* 8px */
  background-color: #0078d4;
  border-radius: 50%;
  margin-left: -6.75em; /* -10.8px */
  top: 1.5em;
  position: relative;
}

/* Modal de Apps */
.modal {
  display: none; /* Oculto por defecto */
  position: absolute;
  top: 4em; /* Ajusta según el tamaño de la fuente */
  right: 2em;
  background: white;
  border-radius: 0.625em; /* 10px */
  box-shadow: 0px 0.125em 0.75em rgba(0, 0, 0, 0.2); /* 0.25em 1.25em */
  z-index: 1001;
  width: 18.75em; /* 300px */
  padding: 1em;
  text-align: left;
  overflow: hidden;
}

.modal h3 {
  font-size: 1.5em; /* 24px */
  font-weight: bold;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal h3 .beta {
  background-color: red;
  color: white;
  font-size: 0.8em; /* 12px */
  font-weight: bold;
  padding: 0.125em 0.3125em; /* 0.2em 0.5em */
  border-radius: 0.3125em; /* 5px */
}

.modal ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal ul li {
  margin-bottom: 0.75em; /* 12px */
}

.modal ul li a {
  text-decoration: none;
  color: #0078d4;
  font-weight: 600;
  font-size: 1em; /* 16px */
  display: flex;
  align-items: center;
  gap: 0.3125em; /* 5px */
  transition: all 0.3s ease-in-out;
}

.modal ul li a:hover {
  color: #0078d4;
  transform: translateX(0.3125em); /* 5px */
}
