/* Estilo del botón */
.apps-btn {
  background-color: #ffffff00;
  border: none;
  cursor: pointer;
  color: #0078d4;
  font-size: 36px;
  top: 20px;
  position: fixed;
  left: 1670px;
}

/* Estilo del modal */
.modal {
  display: block;
  position: absolute;
  top: -190px;
  left: 750px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 100%;
}

/* Estilo del contenido del modal */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 350px;
  text-align: center;
  position: relative;
}

/* Estilo del encabezado del modal */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

/* Estilo del título */
.modal-header h2 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

/* Estilo del texto BETA */
.beta {
  font-family: 'Gilroy', sans-serif;
  color: white;
  background: #ff0000;
  padding: 5px 10px;
  margin-left: 58px;
  border-radius: 5px;
  position: absolute;
  font-size: 14px;
  font-weight: 900;
}

/* Botón para cerrar el modal */
.close-btn {
  font-size: 30px;
  color: #888;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}

/* Contenedor de las aplicaciones dentro del modal */
.apps-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Estilo de cada app */
.app {
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.app:hover {
  background-color: #0078d4;
}
