/* footer.css */

/* Estilo del Footer */
footer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
  box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.1); /* Sombras para dar profundidad */
  padding: 1.25em 1.875em; /* Espaciado */
  text-align: center;
  font-size: 1em;
  color: #333;
  margin-top: auto; /* Asegura que el footer se mantenga al fondo */
  backdrop-filter: blur(5px); /* Efecto blur */
}

footer p {
  margin: 0;
  font-weight: 600;
  font-size: 1em;
  color: #0078d4;
}

/* Estilo de los enlaces del footer */
footer a {
  display: inline-block;
  color: #0078d4;
  text-decoration: none;
  font-weight: bold;
  border: 0.125em solid #0078d4;
  padding: 0.625em 1.25em;
  border-radius: 0.5em;
  text-align: center;
  font-size: 1em;
  transition: all 0.3s ease-in-out;
}

footer a:hover {
  background-color: #0078d4; /* Fondo azul en hover */
  color: #fff;
  text-decoration: none;
}

/* Responsividad */
@media (max-width: 768px) {
  footer {
    padding: 1em;
    font-size: 0.9em;
  }

  footer a {
    padding: 0.5em 1em;
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  footer {
    padding: 0.75em;
    font-size: 0.8em;
  }

  footer a {
    padding: 0.4em 0.8em;
    font-size: 0.8em;
  }
}

/* Hacer que el contenedor grilla ocupe toda la altura */
.grilla {
  display: flex;
  flex-direction: column;
}

/* El contenido principal dentro de la grilla debe ocupar el espacio disponible */
.grilla .main-content {
  flex: 1;
  padding: 1.5em; /* Espaciado alrededor del contenido */
}

/* footer.css ajustado para .grilla */
.grilla footer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
  box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  padding: 1.25em 1.875em; /* Espaciado */
  text-align: center;
  font-size: 1em;
  color: #333;
  backdrop-filter: blur(5px); /* Efecto de desenfoque */
  margin-top: 13.1em;
  position: relative;
  bottom: 0;
  top: 0;
}

.grilla footer p {
  margin: 0;
  font-weight: 600;
  font-size: 1em;
  color: #0078d4;
}

/* Enlaces dentro del footer específico de grilla */
.grilla footer a {
  display: inline-block;
  color: #0078d4;
  text-decoration: none;
  font-weight: bold;
  border: 0.125em solid #0078d4;
  padding: 0.625em 1.25em;
  border-radius: 0.5em;
  text-align: center;
  font-size: 1em;
  transition: all 0.3s ease-in-out;
}

.grilla footer a:hover {
  background-color: #0078d4; /* Fondo azul al hacer hover */
  color: #fff; /* Texto blanco al hacer hover */
  text-decoration: none;
}

/* Responsividad específica para la grilla */
@media (max-width: 768px) {
  .grilla footer {
    padding: 1em;
    font-size: 0.9em;
  }

  .grilla footer a {
    padding: 0.5em 1em;
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .grilla footer {
    padding: 0.75em;
    font-size: 0.8em;
  }

  .grilla footer a {
    padding: 0.4em 0.8em;
    font-size: 0.8em;
  }
}
