@import url('https://cdn.jsdelivr.net/gh/skb10x/Gilroy-SATV@main/Gilroy.css');

/* Establece un tamaño de imagen consistente */
img {
  max-width: 100%; /* Asegura que las imágenes no excedan el ancho de su contenedor */
  height: auto; /* Mantiene la proporción de las imágenes */
  display: block; /* Elimina el espacio extra debajo de las imágenes */
  margin: 10px 0; /* Espaciado entre imágenes */
}

/* Estilo general para los elementos de lista */
ul {
  list-style-type: none; /* Elimina los puntos de lista */
  padding-left: 0; /* Elimina el padding de la lista */
}

/* Estilo para cada ítem de la lista */
li {
  font-size: 16px; /* Tamaño de fuente para los ítems */
  margin-bottom: 15px; /* Espacio entre los ítems */
  line-height: 1.5; /* Altura de línea para un texto más legible */
}

/* Estilo para las etiquetas de texto en negrita */
strong {
  font-weight: bold; /* Hace el texto en negrita */
  font-size: 18px; /* Tamaño de fuente mayor para los títulos */
}

section {
  text-align: justify;
}

    /* Estilos generales */
    body {
      
      padding: 20px;
      text-align: center;
    }

    /* Estilo para el contenedor del logo */
    .logo-container {
      margin-top: 20px;
    }

    /* Estilo para el menú desplegable */
    select {
      padding: 10px;
      font-size: 16px;
      border: 2px solid #ccc;
      font-family: 'Gilroy', sans-serif;
      border-radius: 5px;
      background-color: #f9f9f9;
    }

    /* Estilo para la imagen */
    img {
      max-width: 80%; /* Asegura que las imágenes no sean demasiado grandes */
      height: auto;
      margin-top: 20px;
      transition: transform 0.3s ease; /* Suaviza el cambio de imagen */
    }
    img:hover {
      transform: scale(1.05); /* Efecto de hover al pasar el ratón sobre la imagen */
    }

/* Estilos básicos para el dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  width: 41%;  /* Ancho del contenedor principal al 41% */
}

.dropbtn {
  background-color: #fff;
  color: #0078d4;
  padding: 0.625em 1.25em;
  border: 0.125em solid #0078d4;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  border-radius: 0.5em;
  width: 100%;
  box-sizing: border-box;
}

.dropbtn:hover {
  background-color: #0078d4;
  color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  border: 0.125em solid #0078d4;
  font-weight: 700;
  border-radius: 0.5em;
  width: 100%;
  margin-left: 12.5em;
  box-sizing: border-box;
  box-shadow: 0px 0.5em 1em rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 0.25em;
}

.dropdown-item {
  color: #0078d4;
  padding: 0.75em 1em;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #0078d4;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}
