/* Bordes redondeados y margen de la media-control-indicator */
.media-control[data-media-control] .media-control-layer[data-controls] .media-control-indicator[data-position] {
    margin: 0 6px 0 7px;
    font-size: 11.4px;
}

div[data-player] {
  height: 506px;
  width: 100%;
  border-radius: 8px; /* Bordes redondeados */
}

/* Indicador de duración del reproductor con "content" y ajuste de fuente */
.media-control[data-media-control] .media-control-layer[data-controls] .media-control-indicator[data-duration]:before {
    content: "|";
    margin-right: 7px;
    font-size: 11.5px;
}
