.media-control[data-media-control] .media-control-layer[data-controls] .media-control-indicator[data-position] {
    margin: 0 6px 0 7px;
    font-size: 11.4px;
    font-family: 'Gilroy', sans-serif;
}

[data-player] a, [data-player] abbr, [data-player] acronym, [data-player] address, [data-player] applet, [data-player] article, [data-player] aside, [data-player] audio, [data-player] b, [data-player] big, [data-player] blockquote, [data-player] canvas, [data-player] caption, [data-player] center, [data-player] cite, [data-player] code, [data-player] dd, [data-player] del, [data-player] details, [data-player] dfn, [data-player] div, [data-player] dl, [data-player] dt, [data-player] em, [data-player] embed, [data-player] fieldset, [data-player] figcaption, [data-player] figure, [data-player] footer, [data-player] form, [data-player] h1, [data-player] h2, [data-player] h3, [data-player] h4, [data-player] h5, [data-player] h6, [data-player] header, [data-player] hgroup, [data-player] i, [data-player] iframe, [data-player] img, [data-player] ins, [data-player] kbd, [data-player] label, [data-player] legend, [data-player] li, [data-player] mark, [data-player] menu, [data-player] nav, [data-player] object, [data-player] ol, [data-player] output, [data-player] p, [data-player] pre, [data-player] q, [data-player] ruby, [data-player] s, [data-player] samp, [data-player] section, [data-player] small, [data-player] span, [data-player] strike, [data-player] strong, [data-player] sub, [data-player] summary, [data-player] sup, [data-player] table, [data-player] tbody, [data-player] td, [data-player] tfoot, [data-player] th, [data-player] thead, [data-player] time, [data-player] tr, [data-player] tt, [data-player] u, [data-player] ul, [data-player] var, [data-player] video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border-radius: 10px;
}

.media-control[data-media-control] .media-control-layer[data-controls] .media-control-indicator[data-duration]:before {
    content: "|";
    margin-right: 7px;
    font-size: 11.5px;
    font-family: 'Gilroy', sans-serif;
}
