/* Menú fijo al inicio */
header {
  position: sticky;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0.25em 1.25em rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.625em);
  z-index: 1000;
  transition: transform 0.3s ease-in-out; /* Transición para el efecto de ocultar */
}

/* Ocultar el header cuando se hace scroll hacia abajo */
body.scrolled header {
  transform: translateY(-5em); /* Ajusta este valor según el tamaño de tu header */
}

/* Para mejorar la experiencia en dispositivos móviles y tabletas */
@media (max-width: 48em) { /* 768px */
  header {
    top: 0;
    width: 100%;
  }
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 30em) { /* 480px */
  header {
    top: 0;
    width: 100%;
  }
}
