/* Gilroy Thin */
@font-face {
    font-family: "Gilroy";
    src: url("Gilroy Thin.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy Thin Italic.otf") format("opentype");
    font-weight: 100;
    font-style: italic;
}

/* Gilroy UltraLight */
@font-face {
    font-family: "Gilroy";
    src: url("Gilroy UltraLight.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy UltraLight Italic.otf") format("opentype");
    font-weight: 200;
    font-style: italic;
}

/* Gilroy Light */
@font-face {
    font-family: "Gilroy";
    src: url("Gilroy Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy Light Italic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}

/* Gilroy Regular */
@font-face {
    font-family: "Gilroy";
    src: url("Gilroy Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy Regular Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

/* Gilroy Medium */
@font-face {
    font-family: "Gilroy";
    src: url("Gilroy Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy Medium Italic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}

/* Gilroy SemiBold */
@font-face {
    font-family: "Gilroy";
    src: url("Gilroy SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy SemiBold Italic.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
}

/* Gilroy Bold */
@font-face {
    font-family: "Gilroy";
    src: url("Gilroy Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy Bold Italic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}

/* Gilroy ExtraBold */
@font-face {
    font-family: "Gilroy";
    src: url("Gilroy ExtraBold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy ExtraBold Italic.otf") format("opentype");
    font-weight: 800;
    font-style: italic;
}

/* Gilroy Black */
@font-face {
    font-family: "Gilroy";
    src: url("Gilroy Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy Black Italic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
}

/* Gilroy Heavy */
@font-face {
    font-family: "Gilroy";
    src: url("Gilroy Heavy.otf") format("opentype");
    font-weight: 950;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy Heavy Italic.otf") format("opentype");
    font-weight: 950;
    font-style: italic;
}