/* Botón de Apps estilo Google */
.apps-button {
  position: absolute;
  right: 2em;
  top: 0.75em;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.apps-icon {
  width: 28px;
  height: 28px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}

.apps-icon div {
  width: 8px;
  height: 8px;
  background-color: #0078d4;
  border-radius: 50%;
  margin-left: -10.8em;
  top: 1.5em;
  position: relative;
}

/* Modal de Apps */
.modal {
  display: none; /* Oculto por defecto */
  position: absolute;
  top: 4em;
  right: 2em;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0.25em 1.25em rgba(0, 0, 0, 0.2);
  z-index: 1001;
  width: 300px; /* Tamaño fijo del modal */
  padding: 1em;
  text-align: left;
  overflow: hidden;
}

.modal h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -0.1em;
}

.modal h3 .beta {
  background-color: red;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.1em 0.4em;
  border-radius: 5px;
  position: absolute;
  left: 4.3em;
}

.modal ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 3em;
}

.modal ul li {
  margin-bottom: 0;
}

.modal ul li a {
  text-decoration: none;
  color: #0078d4;
  font-weight: 600;
  font-size: 1em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  transition: all 0.3s ease-in-out;
}

.modal ul li a:hover {
  color: #0078d4;
  transform: translateX(5px); /* Efecto de desplazamiento al pasar el cursor */
}
