/* footer.css */

/* Estilo del Footer */
footer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  /* Fondo semi-transparente */
  box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.1);
  /* Sombras para dar profundidad */
  padding: 1.25em 1.875em;
  /* Espaciado */
  text-align: center;
  font-size: 1em;
  color: #333;
  margin-top: auto;
  /* Asegura que el footer se mantenga al fondo */
  backdrop-filter: blur(5px);
  /* Efecto blur */
  margin-left: -1.2em;
  margin-bottom: -1.2em;
  box-sizing: border-box;
}

footer p {
  margin: 0;
  font-weight: 600;
  font-size: 1em;
  color: #0078d4;
}

/* Estilo de los enlaces del footer */
footer a {
  display: inline-block;
  color: #0078d4;
  text-decoration: none;
  font-weight: bold;
  border: 0.125em solid #0078d4;
  padding: 0.625em 1.25em;
  border-radius: 0.5em;
  text-align: center;
  font-size: 1em;
  transition: all 0.3s ease-in-out;
}

footer a:hover {
  background-color: #0078d4;
  /* Fondo azul en hover */
  color: #fff;
  text-decoration: none;
}

/* Responsividad */
@media (max-width: 768px) {
  footer {
    padding: 1em;
    font-size: 0.9em;
  }

  footer a {
    padding: 0.5em 1em;
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  footer {
    padding: 0.75em;
    font-size: 0.8em;
  }

  footer a {
    padding: 0.4em 0.8em;
    font-size: 0.8em;
  }
}